html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #314063, #4b68ad, #1c3161)
}

.header {
  border-style: solid;
  boarder-width: 2px 2px;
  border-color: #262626;
  background-color: #3a4663;
}

.nav {
  border-bottom-style: double;
  border-width: 1px 1px;
  border-color: #262626;
}

.mainBody {
  margin-left: 200px;
  padding: 3px;
  border-style: solid;
  border-width: 1px 1px;
  border-color: #262626;
  background-color: #1e6696;
}

.sideBody {
  float: left;
  width: 200px;
  border-style: solid;
  border-width: 1px 1px;
  border-color: #262626;
  background-color: #1e6696;
  padding: 3px;
}
